<template>
  <b-container fluid class="pl-5 pr-5">
    <div class="text-center m-4 mb-5">
      <b-img :src="require('@/assets/logo.png')" alt="Logo" width="256" class="mb-3" />
      <h1>E-café du LIP</h1>
      <p>
        <em>Photos en tout genre, mais surtout de fleurs et paysages</em>
      </p>
      <b-row class="author" @click="selectAuthor(null)">
        <b-col cols="6" class="text-right">
          <strong>Nombre de photos</strong>
        </b-col>
        <b-col cols="6" class="text-left">{{ photos.length }}</b-col>
      </b-row>
      <b-row
        v-for="contributor in contributors"
        :key="contributor.author"
        :class="authorClass(contributor.author)"
        @click="selectAuthor(contributor.author)"
      >
        <b-col cols="6" class="text-right">
          <strong>{{ contributor.author }}</strong>
        </b-col>
        <b-col cols="6" class="text-left">{{ contributor.count }}</b-col>
      </b-row>
    </div>

    <cool-light-box
      :items="coolLightBoxItems"
      :index="index"
      @close="index = null"
      :fullScreen="true"
    />

    <b-row class="images-wrapper">
      <b-col
        cols="12"
        xl="4"
        lg="6"
        class="image-col mb-3"
        v-for="(image, imageIndex) in coolLightBoxItems"
        :key="imageIndex"
        @click="triggerLightbox(imageIndex)"
      >
        <b-img-lazy
          class="image"
          :src="image.thumb"
          :alt="image.description"
          :title="image.description"
          rounded
        />
        <div class="w-100">
          <p class="image-title">{{ image.title }}</p>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
const CoolLightBox = () => import("vue-cool-lightbox");

import { allPhotos } from "@/util/photos";

export default {
  name: "Home",
  components: {
    CoolLightBox
  },
  data: () => ({
    filterAuthor: null,
    photos: allPhotos,
    index: null
  }),
  computed: {
    coolLightBoxItems() {
      return this.photos
        .filter(({ author }) =>
          this.filterAuthor ? (author == this.filterAuthor) : true
        )
        .map(p => ({
          title: p.author,
          description: p.description,
          src: require(`@/assets/photos/${p.slug}.jpg`),
          thumb: require(`@/assets/photos/thumbnails/${p.slug}.jpg`)
        }));
    },
    contributors() {
      return Array.from(new Set(this.photos.map(({ author }) => author)))
        .map(a => ({
          author: a,
          count: this.photos.filter(({ author }) => author == a).length
        }))
        .sort((a, b) => b.count - a.count);
    }
  },
  methods: {
    selectAuthor(author) {
      if (author == this.filterAuthor) this.filterAuthor = null;
      else this.filterAuthor = author;
    },
    triggerLightbox(index) {
      this.index = index;
    },
    authorClass(author) {
      return author == this.filterAuthor
        ? ["selected-author", "author"]
        : ["author"];
    }
  }
};
</script>

<style scoped>
* {
  --title-size: 16px;
  --image-border-size: 15px;
}

.images-wrapper .image-col {
  max-height: 300px;
  text-align: center;
  cursor: pointer;
}

.images-wrapper .image-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.images-wrapper .image-col .image-title {
  font-size: var(--title-size);
}

.images-wrapper .image-col .image {
  max-height: calc(
    100% - 2 * var(--image-border-size) - var(--title-size) - 1rem
  );
  max-width: calc(100% - 2 * var(--image-border-size));
  margin: var(--image-border-size);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.author {
  cursor: pointer;
}

.author:hover {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.selected-author {
  color: #b00040;
}
</style>