<template>
  <div class="app">
    <router-view />
    <footer class="p-3 text-center">
      Site réalisé par <a href="https://julien-emmanuel.com" target="_blank">Julien EMMANUEL</a>. Les photos présentes sur le site appartiennent à leurs auteurs respectifs, toute reproduction est interdite.
    </footer>
  </div>
</template>

<style lang="scss">
@import '~bootstrap';
@import '~bootstrap-vue';
@import '~vue-cool-lightbox/dist/vue-cool-lightbox.min.css';

div.app {
  width: 100%;

  footer {
    background-color: rgb(231, 231, 231);
    font-size: 12px;
  }
}

</style>